<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/title'); -%>
  <main>
    <%- include('layouts/nav'); -%>

    <section id="image">
      <img id="homeSales" alt="home sales" src="/images/homeSales.jpg" />
    </section>

    <article id="content">
      <h1>Home</h1>
      <p>First, Helix would like to thank you for this opportunity to work with your company. This is a document based on a new home sales system, and please find the attached project initiation document.
      </p>
      <p>The new information system is to improve the original process. It has various features that include tracking and saving house information, creating and updating buyers information and generating housing agreements.
      </p>
      <p>Algonquin Homes is a new home builder in Eastern Ontario who currently tracks everything manually.  In order to update and extract the required information efficiently, Algonquin Homes needs an electronic solution such as a home sales system.
      </p>
      <p>The new information system is specifically designed for the Algonquin Homes situation. We start with looking into each system of your company and will eventually provide you with the most effective and efficient information system.
      </p>
      <P>Helix strongly believes that after the system is deployed within Algonquin Homes company, the information system will have a higher level of security and a faster speed of acquiring data. 
      </P><br><br>
    </article>
  </main>
  <%- include('layouts/footer'); -%>
</body>
