<nav>
  <ul>
    <li><a href="/">Return Home</a></li>
    <li><a href="/addpage">Add page</a></li>
    <li><a href="/editOverview">Edit pages</a></li>
    <li><a href="/editheader">Edit header</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
